/* SegmentFormComponentStyles.css */
SegmentFormComponent {
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.26);
}

#numberTextField {
    -fx-pref-width: 64;
}

.versionButton {
    -fx-pref-height: 32;
    -fx-pref-width: 160;
    -fx-font-size: 14;
    -fx-background-color: #005376;
}

.versionButton:hover {
    -fx-background-color: #00374E;
}