/* VersionFormComponentStyles.css */

VersionFormComponent {
    -fx-background-color: #fff;
    -fx-border-width: 1;
    -fx-border-color: rgba(0, 0, 0, 0.26);
}

.teamButton {
    -fx-pref-height: 32;
    -fx-pref-width: 140;
    -fx-font-size: 14;
    -fx-background-color: #005376;
}

.teamButton:hover {
    -fx-background-color: #00374E;
}
