/* CollectionsViewStyles.css */

.label {
    -fx-font-size: 30.0;
}

.collections-component {
-fx-padding: 10;
-fx-background-color: firebrick;
-fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1), 10, 0, 2, 2); /* Delikatny cień */
}
