/* Global styles */

.root {
    -fx-background-color: #f0f0f0;
}

Label {
    -fx-font-size: 16;
}

.button {
    -fx-background-color: #00a1f1;
    -fx-pref-height: 40;
    -fx-pref-width: 220;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-background-radius: 50;
}

.button:hover {
    -fx-background-color: #007FBE;
}

.secondaryButton {
    -fx-pref-height: 32;
    -fx-font-size: 14;
    -fx-background-color: #005376;
}

.secondaryButton:hover {
    -fx-background-color: #00374E;
}

/* domyślny styl dla przycisków DatePicker */
.date-picker .button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: -1;
    -fx-pref-height: -1;
}

/* Label na każdym oknie */
.viewHeader {
    -fx-font-size: 40;
}

/* Przyciski do usuwania */
.deleteButton {
    -fx-background-color: #f10000;
}

.deleteButton:hover {
    -fx-background-color: #be0000;
}
