/* CollectibleViewStyles.css */

MiniGalleryComponent {
    -fx-background-color: #fff;
}

#collectibleFormComponent > Button {
    -fx-pref-width: 100;
    -fx-background-color: #005376;
}

#collectibleFormComponent > Button:hover {
    -fx-background-color: #00374E;
}