/* SaveSketchWindowStyles.css */

Button {
    -fx-min-height: 32;
    -fx-max-height: 32;
    -fx-min-width: 100;
    -fx-max-width: 100;
}

TextField {
    -fx-pref-width: 180;
    -fx-pref-height: 42;
    -fx-font-size: 16;
}